body {
    min-height: 100vh;
    margin: 0;

    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    
    padding: 30px;
}

h1 {
    color:rgb(36, 169, 116);
    text-align: center;
}

.login {
    width: 100%;
    max-width: 350px;   /* desktop limit */
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    padding-top: 30px;

    background: rgba(255, 255, 255, 0.8); /* transparent card */
    border-radius: 10px;
}


div{
    padding-top: 20px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(153, 0, 51);
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.9;
}

@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }

    .login,
    .register {
        padding: 15px;
    }
}
