body{
    background-image: url("https://images.ctfassets.net/nnkxuzam4k38/219VUMa1SOxASKqCE2OgT4/be1c810344587bd7f6f203337d23602a/ranger-4df6c1b6.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: rgb(26, 28, 31);
}

.main{
    width: 400px;
    margin-top: 7%;
    margin-left: 37%;
    color: black;
}

.input-section{
    text-align: center;
    margin-bottom: 20px;
}







